#sideBar {
  height: 100vh;
  padding-top: 80px;
  position: fixed;
  background-color: #FFCD2E;
}

#dashboard {
  margin-top: 60px;
}

#navbar {
  background-color: #00337C!important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.25);
}
